<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>duyvtt.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>duyvtt.filter.AuthorizationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>duyvtt.filter.DispatcherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>duyvtt.listener.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AuthLoginServlet</servlet-name>
        <servlet-class>duyvtt.controller.AuthLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountSearchLastnameServlet</servlet-name>
        <servlet-class>duyvtt.controller.AccountSearchLastnameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountUpdateServlet</servlet-name>
        <servlet-class>duyvtt.controller.AccountUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDeleteServlet</servlet-name>
        <servlet-class>duyvtt.controller.AccountDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopLoadProductServlet</servlet-name>
        <servlet-class>duyvtt.controller.ShopLoadProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartAddItemServlet</servlet-name>
        <servlet-class>duyvtt.controller.CartAddItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartRemoveItemServlet</servlet-name>
        <servlet-class>duyvtt.controller.CartRemoveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthAutoLoginServlet</servlet-name>
        <servlet-class>duyvtt.controller.AuthAutoLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthRegisterServlet</servlet-name>
        <servlet-class>duyvtt.controller.AuthRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthLogoutServlet</servlet-name>
        <servlet-class>duyvtt.controller.AuthLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartCheckoutServlet</servlet-name>
        <servlet-class>duyvtt.controller.CartCheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartUpdateQuantityServlet</servlet-name>
        <servlet-class>duyvtt.controller.CartUpdateQuantityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthLoginServlet</servlet-name>
        <url-pattern>/AuthLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountSearchLastnameServlet</servlet-name>
        <url-pattern>/AccountSearchLastnameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountUpdateServlet</servlet-name>
        <url-pattern>/AccountUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDeleteServlet</servlet-name>
        <url-pattern>/AccountDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopLoadProductServlet</servlet-name>
        <url-pattern>/ShopLoadProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartAddItemServlet</servlet-name>
        <url-pattern>/CartAddItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartRemoveItemServlet</servlet-name>
        <url-pattern>/CartRemoveItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthAutoLoginServlet</servlet-name>
        <url-pattern>/AuthAutoLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthRegisterServlet</servlet-name>
        <url-pattern>/AuthRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthLogoutServlet</servlet-name>
        <url-pattern>/AuthLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartCheckoutServlet</servlet-name>
        <url-pattern>/CartCheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartUpdateQuantityServlet</servlet-name>
        <url-pattern>/CartUpdateQuantityServlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>LOG4J_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>WEB-INF\log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>SITEMAPS_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>WEB-INF\siteMaps.properties</param-value>
    </context-param>
    <context-param>
        <param-name>AUTHENTICATION_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>WEB-INF\authentication.properties</param-value>
    </context-param>
    <context-param>
        <param-name>ADMIN_AUTHORIZATION_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>WEB-INF\AdminAuthorization.properties</param-value>
    </context-param>
    <context-param>
        <param-name>USER_AUTHORIZATION_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>WEB-INF\UserAuthorization.properties</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>DSBlink</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <error-page>
        <error-code>403</error-code>
        <location>/forbiddenError.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/fileNotFound.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/internalServerError.html</location>
    </error-page>
</web-app>
